In [24]:
import sqlite3
import os
from datatools import DataPoint
import datetime

def createdb(dbfilename='data.db'):
    if not os.path.isfile('data.db'):
        conn = sqlite3.connect('data.db')
        c = conn.cursor()
        c.execute("""CREATE TABLE data (
            Id INTEGER PRIMARY KEY AUTOINCREMENT, 
            API_key text,
            date_time text,
            channel integer,
            field integer,
            data real
            )""")
        conn.commit()
        conn.close()

createdb('data.db')

api_key ='sad'
channel = 55
field = 1
data = 23.123
t = datetime.datetime.now()
date_time_str = t.isoformat()
d = DataPoint(api_key, date_time_str, channel, field, data)
        
conn = sqlite3.connect('data.db')
c = conn.cursor()
c.execute("INSERT INTO data VALUES(:Id, :API_key, :date_time, :channel, :field, :data)",
              {'Id':None,'API_key': d.API_key, 'date_time': date_time_str, 'channel': int(d.channel), 'field': int(d.field), 'data': round(float(d.data),4)})
conn.commit()
conn.close()

In [25]:
conn = sqlite3.connect('data.db')
c = conn.cursor()
c.execute('SELECT * FROM data WHERE ID = (SELECT MAX(ID) FROM data);')
print(c.fetchone())
field_num = int(1)
c.execute('SELECT * FROM data WHERE field=?', (field_num,))
print(c.fetchall())
conn.close()

(3, 'sad', '2018-07-30T19:47:47.445594', 55, 1, 23.123)
[(1, 'sad', '2018-07-30T19:44:20.857464', 55, 1, 23.123), (2, 'sad', '2018-07-30T19:44:51.692313', 55, 1, 23.123), (3, 'sad', '2018-07-30T19:47:47.445594', 55, 1, 23.123)]